<launch>
  <arg name="rotate"    default="0"/>
  <arg name="mirror"    default="false"/>
  <arg name="calibrate" default="false"/>
  <arg name="cam"       default="-1"/>
  <arg name="topic"     default="/niryo_robot_vision/compressed_video_stream"/>
  <arg name="skill"     default="5"/>
  <arg name="depth"     default="12"/>
  <arg name="stockfish" default=""/>

  <node name="chess_vision_node"
        pkg="chess_vision"
        type="chess_piece_vision_node.py"
        output="screen"
        respawn="false">
    <param name="rotate"    type="int"  value="$(arg rotate)"/>
    <param name="mirror"    type="bool" value="$(arg mirror)"/>
    <param name="calibrate" type="bool" value="$(arg calibrate)"/>
    <param name="cam"       type="int"  value="$(arg cam)"/>
    <param name="topic"     type="str"  value="$(arg topic)"/>
  </node>

  <node name="chess_gui_stockfish_node"
        pkg="chess_vision"
        type="chess_gui_stockfish_node.py"
        output="screen"
        respawn="false">
    <param name="skill"     type="int" value="$(arg skill)"/>
    <param name="depth"     type="int" value="$(arg depth)"/>
    <param name="stockfish" type="str" value="$(arg stockfish)"/>
  </node>
</launch>
